.wrap-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 40px 0;
}

.wrap-login h1 {
  padding-bottom: 20px;
}

.wrap-login input {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
}

.wrap-login button {
  width: 250px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  color: #f7f7f7;
  background-color: #3d91ff;
}
