.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
}

.listWrapper table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.listWrapper thead tr th {
  color: #f7f7f7;
  background-color: teal;
}

.listWrapper th {
  border: 1px solid #c3c3c3;
  padding-left: 5px;
  height: 50px;
  font-weight: 500;
}

.listWrapper tr:nth-child(odd) {
  background-color: #f2f2f2; /* Màu xám nhạt cho hàng chẵn */
}

.listWrapper tr:nth-child(even) {
  background-color: #ffffff; /* Màu trắng cho hàng lẻ */
}

.booked span {
  padding: 8px 5px;
  border-radius: 10%;
  color: rgb(7, 153, 7);
  background-color: rgb(243, 116, 116);
}
.checkin span {
  padding: 8px 5px;
  border-radius: 10%;
  color: rgb(7, 153, 7);
  background-color: rgb(157, 241, 157);
}
.checkout span {
  padding: 8px 5px;
  border-radius: 10%;
  color: rgb(7, 153, 7);
  background-color: rgb(199, 204, 199);
}
